.row{
  width: 100%;
  height: 300px;
}

.col{
  height: 200%;
  width: 45%;
  border: 5px solid black;
  display: inline-block;
  float: left;
  margin: 10px;
}
body{
  background-image: url(http://static.lulu.com/browse/product_thumbnail.php?productId=21835507&resolution=320);
  background-size: cover;
  font-style: italic;
  resize: vertical;
  color:White;
}
